# Aula 2 - Estruturas de Dados

## Prof. Luis Lamas
### Udesc Balneário Camboriú

Na aula de hoje vamos explorar alguns tipos de estruturas de dados usuais no python: tuplas, sets, listas e dicionários. Essas estruturas são formas ordenadas de armazenar e manipular dados, e possibilitam algumas operações básicas.
O python é uma linguagem de programação orientada a objeto. Devido a isso, quando algum desses elementos é criado, cria-se na verdade um objeto, com algumas características e métodos.

## Tuplas

Tuplas são sequencias de dados ordenados. Essas sequências são imutáveis, e no python, são representadas por parênteses. Existem duas sintaxes diferentes de criar as tuplas.

In [7]:
tup1 = tuple((1,3,8,4,2,3))
tup2 = ('a', 'b', 3, 4, True)

In [8]:
type(tup1)

tuple

In [4]:
6 in tup1

False

In [5]:
"a" in tup2

True

In [6]:
2*tup1

(1, 3, 8, 4, 2, 1, 3, 8, 4, 2)

Métodos:


    count() Retorna o número de vezes que o argumento aparece em uma tupla.
    index() Procura o valor especificado dentro da tupla e retorna sua posição.

In [10]:
tup1.count(3)

2

In [11]:
tup2.index(4)

3

In [12]:
len(tup1)

6

## Sets

Sets são sequencias de dados não ordenados e únicos. Essas estruturas permitem que sejam armazenados dados, mas a sequência armazenada não é necessariamente igual à digitada. Existem basicamente duas formas de se criar sets no python.

In [14]:
set1 = set({1,3,6,9,2})
set2 = {3,3,2,6,9,20}

In [15]:
set1

{1, 2, 3, 6, 9}

In [16]:
set2

{2, 3, 6, 9, 20}

In [17]:
type(set1)

set

In [19]:
2 in set1

True

In [20]:
len(set2)

5

Métodos:

    add()          Adiciona um elemento ao set 
    clear()        Remove todos os elementos
    copy()         Retorna uma cópia do set
    difference()   Retorna a diferença entre dois sets
    intersection() Retorna um set com a interseção entre dois sets
    remove()       Remove um elemento específico
    union()        Retorna a união entre dois sets

In [21]:
set1.add(21)

In [22]:
set1

{1, 2, 3, 6, 9, 21}

In [23]:
set3 = set1.difference(set2)

In [24]:
set3

{1, 21}

In [25]:
set3.clear()

In [26]:
set3

set()

In [27]:
set3 = set1.intersection(set2)

In [28]:
set3

{2, 3, 6, 9}

In [29]:
set4 = set1.union(set2)

In [30]:
set4

{1, 2, 3, 6, 9, 20, 21}

## Listas

Listas são sequencias ordenadas de dados não únicos. A diferença entre listas e tuplas é que as listas são mutáveis, ou seja, pode-se alterar elementos de uma lista. Existem duas sintaxes para se criar as listas.

In [31]:
list1 = list([3, 5, 7, 10])
list2 = [1,5,7,10,13,14,20]

In [32]:
list1

[3, 5, 7, 10]

In [33]:
type(list1)

list

In [34]:
len(list2)

7

In [35]:
2*list2

[1, 5, 7, 10, 13, 14, 20, 1, 5, 7, 10, 13, 14, 20]

In [36]:
list1+list2

[3, 5, 7, 10, 1, 5, 7, 10, 13, 14, 20]

In [37]:
3 in list2

False

Slicing

    lista[start:stop]  
    lista[start:]     
    lista[:stop]     
    lista[:]        
    lista[start:stop:step] 
    lista[-1]    
    lista[-2:]  
    lista[:-2]

In [38]:
list1[2:4]

[7, 10]

In [39]:
list1[:4]

[3, 5, 7, 10]

In [40]:
list2[3:]

[10, 13, 14, 20]

In [41]:
list2[-1]

20

In [42]:
list2[-2:]

[14, 20]

Métodos:

    append()   Adiciona um elemento à lista
    clear()    Remove todos os elementos de uma lista
    copy()     Returna uma cópia da lista
    count()    Returna o número de elementos especificados
    index()    Returno o índice do primeiro elemento igual ao especificado
    pop()      Remove o elemento da posição especificada
    remove()   Remove o primeiro elemento com o valor especificado
    reverse()  Inverte a ordem da lista
    sort()     Ordena a lista

In [43]:
list1.append(8)

In [44]:
list1

[3, 5, 7, 10, 8]

In [45]:
list2.clear()

In [46]:
list2

[]

In [47]:
list1.count(5)

1

In [48]:
list1.index(10)

3

In [50]:
list1.pop(2)

7

In [51]:
list1

[3, 5, 10, 8]

In [52]:
list1.remove(5)

In [53]:
list1

[3, 10, 8]

In [57]:
list1.sort()

In [58]:
list1

[3, 8, 10]

In [59]:
list1.reverse()

In [60]:
list1

[10, 8, 3]

## Dicionários

Dicionários são estruturas de dados que reunem etiquetas a valores. São bastante úteis para representar valores tabelados. Não será dada muita ênfase nesse tipo de estruturas, pois mais adiante no curso vamos explorar ferramentas que funcionam melhor para esse fim. No entanto, vamos dar uma rápida olhada nos dicionários.

In [63]:
dict1 = {
    'Nome': 'Alberto',
    'Sobrenome': 'Costa',
    'Nacionalidade': 'Brasil'
}

In [64]:
dict1

{'Nome': 'Alberto', 'Sobrenome': 'Costa', 'Nacionalidade': 'Brasil'}

In [66]:
dict1['Nome']

'Alberto'

In [67]:
dict1['Nacionalidade']

'Brasil'

Métodos:

    clear()      Removes all the elements from the dictionary
    copy()       Returns a copy of the dictionary
    fromkeys()   Returns a dictionary with the specified keys and value
    get()        Returns the value of the specified key
    items()      Returns a list containing a tuple for each key value pair
    keys()       Returns a list containing the dictionary's keys
    pop()        Removes the element with the specified key
    popitem()    Removes the last inserted key-value pair
    values()     Returns a list of all the values in the dictionary

In [68]:
dict1.keys()

dict_keys(['Nome', 'Sobrenome', 'Nacionalidade'])

In [69]:
dict1.items()

dict_items([('Nome', 'Alberto'), ('Sobrenome', 'Costa'), ('Nacionalidade', 'Brasil')])

In [78]:
dict1.get('Nome')

'Alberto'