# Aula 1 - Introdução ao Python
## Prof. Luis Lamas
### Udesc Balneário Camboriu - SC - Brasil

O python é uma linguagem de programação bastante utilizada hoje em dia por profissionais de áreas como Engenharias e Ciências de Dados.
É uma linguagem de fácil assimilação, e vastamente documentada, de modo que o programador consegue obter muitos exemplos de maneira online.
É também uma linguagem que funciona muito bem com programação orientada a objeto, um dos paradigmas mais atuais sobre programação.

### O objetivo dessa aula é introduzir os principais conceitos da linguagem python

In [21]:
print('Hello World!')
print("Hello World!")

Hello World!
Hello World!

Caracteres especiais: É possível utilizar algum tipo de formatação no comando "print", utilizando a barra invertida.
'\t', '\n', and '\\'

In [6]:
print('Exemplo de \t Tabulação')

Exemplo de 	 Tabulação

In [7]:
print('c:\\Windows\\')

c:\Windows\

In [9]:
print('Linha 1\nLinha 2\nLinha 3')

Linha 1
Linha 2
Linha 3

O caracter "#" permite que se insira comentários (o texto que aparece após ele não é interpretado como código).
Pode-se adicionar a letra "r" antes do texto, para que se ignore os caracteres especiais.

In [12]:
print(r'Exemplo de \t Tabulação')
print(r'c:\\Windows\\')
print(r'Linha 1\nLinha 2\nLinha 3')

Exemplo de \t Tabulação
c:\\Windows\\
Linha 1\nLinha 2\nLinha 3

Para que se escreva os caracteres de aspas, é necessário utilizar alguma das aproximações.

In [20]:
print('Texto com "ênfase"')
print("Texto com 'ênfase'")

Texto com "ênfase"
Texto com 'ênfase'

## Tipos de variáveis

Assim como em outras linguagens de programação, o Python trabalha com diferentes tipos de variáveis. As principais são inteiros, floats e strings.
Ao se criar uma variável, o tipo de variável é atribuido automaticamente.

In [22]:
var1 = 10
var2 = 3.14
var3 = 'Python'

In [23]:
var1

10

In [24]:
type(var1)

int

In [25]:
type(var2)

float

In [26]:
type(var3)

str

É possível converter os tipos de variáveis.

In [27]:
float(var1)

10.0

In [28]:
int(var2)

3

## Operações básicas

Essa seção apresentará algumas operações matemáticas básicas.

In [29]:
2 + 5

7

In [30]:
3 - 2

1

In [31]:
5 / 6

0.8333333333333334

In [32]:
7//2

3

In [33]:
3**2

9

In [34]:
True == False

False

In [35]:
True & False

False

In [36]:
True | False

True

In [37]:
A = 'SMART'
B = 'UDESC'
A + ' ' + B

'SMART UDESC'